* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes floatY {
  0% { transform: translateY(0); }
  50% { transform: translateY(-14px); }
  100% { transform: translateY(0); }
}

.float-slow {
  animation: floatY 6s ease-in-out infinite;
}

.float-medium {
  animation: floatY 4.5s ease-in-out infinite;
}

.float-fast {
  animation: floatY 3.5s ease-in-out infinite;
}
@keyframes pulseBorder {
  0% {
    box-shadow: 0 0 0 0 rgba(249, 115, 22, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(249, 115, 22, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(249, 115, 22, 0);
  }
}

.pulse-orange {
  animation: pulseBorder 2s infinite;
}





